:root {
  --line-height-one-hundred: 100%;
  --section-distance: 70px;
  --yellow-color: rgba(253, 222, 103, 1);
  --green-color: rgba(59, 95, 71, 1);
  --black-color: rgba(24, 24, 24, 1);
  --white-color: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: lato, Vazirmatn;
}

.img {
  display: block;
}

.container {
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background: linear-gradient(rgba(42, 64, 50, 1), rgba(58, 94, 70, 1));
}

.header .nav {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* background-color: azure; */
}

.header .nav ul li a {
  text-decoration: none;
  margin-right: 32px;
}

.header h1 {}

.hero {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
}

.hero .right {
  flex-grow: 1;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .right ul {
  flex-shrink: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero .right li {
  margin-bottom: 21px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--white-color);
}


.hero .right .inside {
  flex-grow: 1;
  text-align: center;
  padding: 0 134px;
}

/* .hero .right .inside .bar{
  position: relative;
  background-color: blueviolet;

}

.hero .right .inside .bar p{
  --price-weight : 500;
  --price-size : 36px;
  --price-color:var(--white-color);
  font-weight: var(--price-weight);
  font-size: var(--price-size);
  line-height: var(--line-height-one-hundred);
  color: var(--price-color);
  position: absolute;
  top: 79px;
}

.hero .right .inside .bar div:nth-of-type(1){
  --off-weight : 700;
  --off-size : 26px;
  --off-color:rgba(24, 24, 24, 1);
  width: 110px;
  height: 110px;
  padding:28px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  font-weight: var(--off-weight);
  font-size: var(--off-size);
  line-height: var(--line-height-one-hundred);
  color: var(--off-color);
  position: absolute;
  left: 100px;
  top: 114px;
  z-index: 2;
}

.hero .right .inside .bar div:nth-of-type(2){
  width: 308px;
  height: 308px;
  border-radius: 50%;
  background-color: rgba(27, 45, 34, 1);
  position: absolute;
  right: 0;
  top: 126px;
  z-index: 0;
}

.hero .right .inside .bar div:nth-of-type(3){
  width: 318px;
  height: 318px;
  border-radius: 50%;
  background-color: rgba(27, 45, 34, 1);
  position: absolute;
  top: 234px;
  z-index: 0;
}

.hero .right .inside .bar img{
  position: relative;
  vertical-align: bottom;
} */

.hero .right .inside {
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.hero .right .inside p {
  --price-weight: 500;
  --price-size: 36px;
  font-weight: var(--price-weight);
  font-size: var(--price-size);
  line-height: var(--line-height-one-hundred);
  color: var(--white-color);
  position: absolute;
  left: 134px;
  top: 79px;
}

.hero .right .inside div:nth-of-type(1) {
  --off-weight: 700;
  --off-size: 26px;
  --off-color: rgba(24, 24, 24, 1);
  width: 110px;
  height: 110px;
  padding: 28px;
  border-radius: 50%;
  background-color: rgba(253, 222, 103, 1);
  font-weight: var(--off-weight);
  font-size: var(--off-size);
  line-height: var(--line-height-one-hundred);
  color: var(--off-color);
  position: absolute;
  left: 229px;
  top: 114px;
  z-index: 2;
}

.hero .right .inside div:nth-of-type(2) {
  width: 308px;
  height: 308px;
  border-radius: 50%;
  background-color: rgba(27, 45, 34, 1);
  position: absolute;
  right: 134px;
  top: 126px;
  z-index: 0;
}

.hero .right .inside div:nth-of-type(3) {
  width: 318px;
  height: 318px;
  border-radius: 50%;
  background-color: rgba(27, 45, 34, 1);
  position: absolute;
  left: 134px;
  top: 234px;
  z-index: 0;
}

.hero .right .inside img {
  position: relative;
  vertical-align: bottom;
}

.hero .left {
  margin-top: 25px;
  width: 35%;
  /* background-color: brown; */
}

.hero .left p:nth-of-type(1) {
  --year-weight: 400;
  --year-size: 60px;
  --year-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  margin: 0 0 24px 0;
  font-weight: var(--year-weight);
  font-size: var(--year-size);
  line-height: var(--line-height-one-hundred);
  color: var(--year-color);

}

.hero .left h2 {
  --header-weight: 900;
  --header-size: 112px;
  --line-height-one-hundred: 100px;
  padding: 0;
  margin: 0 0 24px 0;
  font-weight: var(--header-weight);
  font-size: var(--header-size);
  line-height: var(--line-height-one-hundred);
  letter-spacing: 13%;
  color: var(--white-color);
}

.hero .left p:nth-of-type(2) {
  --year-weight: 400;
  --year-size: 25px;
  --year-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0 0 50px 0;
  font-weight: var(--year-weight);
  font-size: var(--year-size);
  line-height: var(--line-height-one-hundred);
  color: var(--year-color);
}

.btn-wrapper a {
  text-decoration: none;
  border-radius: 6px;
  padding: 16px 40px;
  display: inline-block;
}

.y-btn a {
  background-color: var(--yellow-color);
  color: var(--black-color);

}


.brands {
  background-color: rgba(24, 24, 24, 1);
}

.brands ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 82px;
  padding: 30px 0;
}

.new-collection {
  padding: 0 0 var(--section-distance) 0;

}

.new-collection h3 {
  margin: 0;
  padding: var(--section-distance) 0;
}

.collection {
  display: flex;
  gap: 80px;
}

.new-collection .collection p {
  text-align: left;
}

.new-collection .collection .jacket {
  --jacket-bg: rgba(197, 194, 202, 1);
  background-color: var(--jacket-bg);
  text-align: center;
  width: 40%;
}

.new-collection .collection .sunglasses {
  background-color: var(--yellow-color);
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.best-sellers {
  --best-sellers-bg: rgba(233, 233, 233, 1);
  background-color: var(--best-sellers-bg);

}

.best-sellers h3 {
  margin: 0;
  padding: var(--section-distance) 0;

}

.best-sellers .product {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.best-sellers .col {
  width: 21%;
}

.best-sellers .item {
  /* text-align: center; */

}

.best-sellers .item .show {
  background-color: var(--white-color);
  border-radius: 24px;

}

.best-sellers .item .show .heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.best-sellers .item .show .heart p {
  margin: 0;
}

.best-sellers .item .show .color p {
  --discount: 3px;
  padding: 3px calc(var(--discount)*2);
  border-radius: calc(var(--discount)*2);
  background-color: rgba(58, 94, 70, 1);
}

.best-sellers .item .show .heart img {}

.best-sellers .item .show picture img {
  width: 100%;
  height: auto;
  padding: 0 40px 50px 40px;
}


.best-sellers .item .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(15, 219, 15); */
}

.best-sellers .item .price p {
  padding: 0;
  margin: 16px 0 0;
}

.item .price img {
  background-color: var(--yellow-color);
  padding: 11px;
}


.best-sellers .b-btn {
  text-align: center;
}

.best-sellers .b-btn a {
  background-color: var(--black-color);
  color: var(--white-color);
  margin: 70px 0;
}


footer {
  background: linear-gradient(to right, var(--yellow-color) 35%, var(--green-color) 35%);
  /* background-color: bisque; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .left {
  width: 34.5%;
  padding: 78px 20px;
  flex-shrink: 0;
  border: 2px salmon solid;
}


.footer .right {
  flex-grow: 1;
  padding: 78px 0 78px 90px;
  border: 2px rgb(4, 12, 119) solid;

}

.footer .right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;

}

.footer .right li {
  text-align: center;
  margin: 0;
  padding: 0;

}

.footer .right li .item {
  font-family: Roboto;
}

.footer .right li .item .counter {

  --counter-weight: 700;
  --counter-size: 64px;
  font-weight: var(--counter-weight);
  font-size: var(--counter-size);
  line-height: 48px;
  color: var(--white-color);

  background-color: rgba(24, 24, 24, 0.25);
  margin: 0;
  padding: 24px;
  width: 153px;
  height: 112px;
}

.footer .right li .item .remain {

  --counter-weight: 300;
  --counter-size: 24px;
  font-weight: var(--counter-weight);
  font-size: var(--counter-size);
  line-height: var(--line-height-one-hundred);
  color: var(--white-color);

}



/* @media (width <= 500px) {
  .container {
    width: 100%;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    width: 100%;
  }
}

@media (width <= 1000px) and (width > 500px) {
  .container {
    width: 400px;
  }
  .col {
    width: 33.3333%;
  }
} */